<div class="container">
  <div class="row">
    <div class="span4 hidden-phone calendar">
      {{ "calendar-icon.png" || theme_image_tag }}
    </div>
    <div class="span8">
      <h1>
      {% editable_short_text "conferences_title", hint: "Conferences Title", priority: 80 %}
        Event Solutions
      {% endeditable_short_text %}
      </h1>
    </div>
  </div>

  {% if show_content %}

  <div class="row">

    {% with_scope home_page:true, published:true %}

        {% for solution in contents.solutions limit:2 %}

          <div class="span6 info-bloc {{ solution._permalink }}-bloc {% cycle 'text_style': 'img-left', 'img-right' %}">
            <div class="padded">
              {% if solution.picture.url %}
                {{ solution.picture.url || image_tag }}
              {% endif %}
              <span class="bloc-title">{{ solution.name }}</span>

              <span class="bloc-section-description">
                {{ solution.body | truncate: 300 }}
              </span>

              <span class="read-more">
                <a href="{{ locale }}/event_solutions#{{ solution._permalink }}">
                  {% editable_short_text "read_more_title", hint: "Read More", priority: 79 %}
                    Read More
                  {% endeditable_short_text %}
                </a>
              </span>
            </div>
          </div>

        {% endfor %}

    {% endwith_scope %}

  </div>

  <div class="row">
    <div class="spacer"></div>
  </div>

  <div class="row">
    <div class="span8">
      <div class="business-card">
        <h3>
          {% editable_short_text "business_card_name", hint: "Business Card Name", priority: 77 %}
            Tristan Verdier
          {% endeditable_short_text %}
          <span class="icon-write"></span>
        </h3>
        {% editable_long_text "business_card_info", hint: "Business Card Info", priority: 76 %}
          <span class="list-info email">Email: tristan.verdier@gmail.com</span><br />
          <span class="list-info phone">Phone: 123 456 789</span><br />
          <span class="list-info company">Society: Applidget</span><br />
          <span class="list-info position">Position: Some</span>
        {% endeditable_long_text %}
      </div>
    </div>
    <div class="span4">
      <span class="info success">
        {% editable_short_text "you_will_attend", hint: "You will attend", priority: 75 %}
          You will attend
        {% endeditable_short_text %}
      </span>

      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn info yes active">
          {% editable_short_text "attend_yes", hint: "Yes", priority: 74 %}
            Yes
          {% endeditable_short_text %}
        </button>
        <button type="button" class="btn info maybe">
          {% editable_short_text "attend_maybe", hint: "Maybe", priority: 73 %}
            Maybe
          {% endeditable_short_text %}
        </button>
      </div>

      <span class="info credits">
        {% editable_short_text "powered_text", hint: "Powered by Applidget", priority: 72 %}
          Organized by Someone<br />
          Powered by Applidget
        {% endeditable_short_text %}
      </span>
    </div>
  </div>

  {% endif %}
</div>