<div class="container">
  <div class="row">
    <div class="span4 hidden-phone headshots">
      {{ "people-headshots.png" || theme_image_tag }}
    </div>
    <div class="span4">
      <h1>
      {% editable_short_text "people_title", hint: "People Title", priority: 70 %}
        People
      {% endeditable_short_text %}
      </h1>
    </div>
    <div class="span4 hidden-phone white-screen">
      {{ "people-white-screen.png" || theme_image_tag }}
    </div>    
  </div>

  <div class="row">
    <div class="span4 info-bloc">
      <div class="padded">
        <span class="bloc-title">
          {% editable_short_text "our_team_title", hint: "Our Team Title", priority: 68 %}
            Our Team
          {% endeditable_short_text %}
        </span>

        {% with_scope homepage:true, published: true %}
          {% for person in contents.people limit:2 %}
            <span class="bloc-section-title team">
              <a href="{{ locale }}/team#{{ person._permalink }}">{{ person.full_name }}</a>
            </span>
            <span class="bloc-section-description">{{ person.body | truncate:60 }}</span>
          {% endfor %}
        {% endwith_scope %}

        <span class="read-more">
          <a href="{{ locale }}/team">
            {% editable_short_text "read_more_title", hint: "Read More", priority: 67 %}
              Read More
            {% endeditable_short_text %}
          </a>
        </span>
      </div>
    </div>

    <div class="span4 info-bloc">
      <div class="padded">
        <span class="bloc-title">
          {% editable_short_text "join_us_title", hint: "Join Us Title", priority: 66 %}
            Join Us
          {% endeditable_short_text %}
        </span>

        <!-- This content is supposed to be loaded from a collection in the end -->
        <span class="bloc-section-title team">UI/UX Designer</span>
        <span class="bloc-section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>

        <span class="bloc-section-title team">Ruby Developer</span>
        <span class="bloc-section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
        <!-- End content -->
      </div>
    </div>

    <div class="span4 info-bloc">
      <div class="padded">
        <span class="bloc-title">
          {% editable_short_text "last_open_positions_title", hint: "Last Open Positions Title", priority: 64 %}
            Last Open Positions
          {% endeditable_short_text %}
        </span>

        {% with_scope homepage:true, published: true %}
          {% for offer in contents.offers limit:2 %}
            <span class="bloc-section-title team">
              <a href="{{ locale }}/offers/{{ offer._permalink }}">{{ offer.title }}</a>
            </span>
            <span class="bloc-section-description">{{ offer.body | truncate:60 }}</span>
          {% endfor %}
        {% endwith_scope %}

        <span class="read-more">
          <a href="{{ locale }}/offers">
            {% editable_short_text "read_more_title", hint: "Read More", priority: 63 %}
              Read More
            {% endeditable_short_text %}
          </a>
        </span>
      </div>
    </div>
  </div>
</div>