<div class="container">
  <div class="row">
    <div class="span4 hidden-phone headshots">
      {{ "people-headshots.png" || theme_image_tag }}
    </div>
    <div class="span4">
      <h1>
      {% editable_short_text "people_title", hint: "People Title", priority: 70 %}
        People
      {% endeditable_short_text %}
      </h1>
    </div>
    <div class="span4 hidden-phone white-screen">
      {{ "people-white-screen.png" || theme_image_tag }}
    </div>    
  </div>

  <div class="row">
    <div class="span4 info-bloc">
      <div class="padded">
        <span class="bloc-title">
          {% editable_short_text "our_team_title", hint: "Our Team Title", priority: 68 %}
            Our Team
          {% endeditable_short_text %}
        </span>

        {% with_scope homepage:true, published: true %}
          {% for person in contents.people limit:2 %}
            <span class="bloc-section-title team">
              <a href="{{ locale }}/team#{{ person._permalink }}">{{ person.full_name }}</a>
            </span>
            <span class="bloc-section-description">{{ person.body | truncate:60 }}</span>
          {% endfor %}
        {% endwith_scope %}

        <span class="read-more">
          <a href="{{ locale }}/team">
            {% editable_short_text "read_more_title", hint: "Read More", priority: 67 %}
              Read More
            {% endeditable_short_text %}
          </a>
        </span>
      </div>
    </div>

    <div class="span4 info-bloc">
      <div class="padded">
        <span class="bloc-title">
          {% editable_short_text "join_us", hint: "Join Us", priority: 66 %}
            Join Us
          {% endeditable_short_text %}
        </span>

        <span class="bloc-section-title team">
          {% editable_short_text "join_us_title_1", hint: "Join Us Title 1", priority: 65 %}
            Title 1
          {% endeditable_short_text %}
        </span>
        <span class="bloc-section-description">
          {% editable_short_text "join_us_description_1", hint: "Join Us Description 1", priority: 64 %}
            Description 1
          {% endeditable_short_text %}
        </span>

        <span class="bloc-section-title team">
          {% editable_short_text "join_us_title_2", hint: "Join Us Title 2", priority: 63 %}
            Title 2
          {% endeditable_short_text %}
        </span>
        <span class="bloc-section-description">
          {% editable_short_text "join_us_description_2", hint: "Join Us Description 2", priority: 62 %}
            Description 2
          {% endeditable_short_text %}
        </span>
      </div>
    </div>

    <div class="span4 info-bloc">
      <div class="padded">
        <span class="bloc-title">
          {% editable_short_text "last_open_positions", hint: "Last Open Positions", priority: 61 %}
            Last Open Positions
          {% endeditable_short_text %}
        </span>

        {% with_scope homepage:true, published: true %}
          {% for offer in contents.offers limit:2 %}
            <span class="bloc-section-title team">
              <a href="{{ locale }}/offers/{{ offer._permalink }}">{{ offer.title }}</a>
            </span>
            <span class="bloc-section-description">{{ offer.body | truncate:60 }}</span>
          {% endfor %}
        {% endwith_scope %}

        <span class="read-more">
          <a href="{{ locale }}/offers">
            {% editable_short_text "read_more_title", hint: "Read More", priority: 60 %}
              Read More
            {% endeditable_short_text %}
          </a>
        </span>
      </div>
    </div>
  </div>
</div>