<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.seo_title }}</title>

    <meta name="description" content="{{ site.meta_description }}">
    <meta name="author" content="Applidget">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{ 'bootstrap.min' | stylesheet_tag }}
    {{ 'bootstrap-responsive.min.custom' | stylesheet_tag }}
    {{ 'application' | stylesheet_tag }}
  </head>
  <body>
    

    <div class="container" id="nav">

      {% include 'topmenu' %}
      
    </div>

    {% block 'main' %}
      
      <div class="jumbotron" id="we-make-web">
        <div class="container">
          <div class="row shadow-up v-bottom">
            <div class="span12">
              {{ "shadow-up.png" | image_tag }}
            </div>
          </div>
          
          <div class="row">
            <div class="span12">
              <h1>
              {% editable_short_text "we_make_web_apps_title", hint: "We make web and mobile apps", priority: 10 %}
                We make web & mobile apps
              {% endeditable_short_text %}
              </h1>
            </div>
          </div>
        </div>
      </div>
      
    {% endblock %}

    <!-- Le javascripts -->
    {{'jquery.min' | javascript_tag }}
    {{ 'bootstrap.min.js' | javascript_tag}}
  </body>
</html>
