<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.seo_title }}</title>

    <meta name="description" content="{{ site.meta_description }}">
    <meta name="author" content="Applidget">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{ 'bootstrap.min' | stylesheet_tag }}
    {{ 'bootstrap-responsive.min.custom' | stylesheet_tag }}
    {{ 'application' | stylesheet_tag }}
  </head>
  <body>
    

    <div class="container">

      {% include 'topmenu' %}

      {% block 'main' %}

        <div class="row">
          <div class="span4">Hello world</div>
          <div class="span4">Hello world</div>
          <div class="span4">Hello world</div>
        </div>
      {% endblock %}

    </div> <!-- /container -->

    <!-- Le javascripts -->
    {{'jquery.min' | javascript_tag }}
    {{ 'bootstrap.min.js' | javascript_tag}}
  </body>
</html>
