<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.seo_title }}</title>

    <meta name="description" content="{{ site.meta_description }}">
    <meta name="author" content="Applidget">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{ 'bootstrap.min' | stylesheet_tag }}
    {{ 'bootstrap-responsive.min.custom' | stylesheet_tag }}
    {{ 'application' | stylesheet_tag }}

    {% inline_editor %}
  </head>
  <body>
    

    <div class="container">

      {% include 'topmenu' %}
      
    </div>

    {% block 'main' %}
      
      <div class="jumbotron" id="section-stickers">
        <div class="container">
          <div class="row shadow-up">
            <div class="span12">
              <span class="v-bottom">{{ "shadow-up.png" | theme_image_tag }}</span>
            </div>
          </div>
          
          <div class="row">
            <div class="span12">
              <h1>
              {% editable_short_text "we_make_web_apps_title", hint: "We make web and mobile apps", priority: 100 %}
                We make web & mobile apps
              {% endeditable_short_text %}
              </h1>
            </div>
          </div>
          
          <div class="row">
            <div class="span4">
              <a href="#section-why-choose" class="anchor-link stickers-sprite stickers-applidget" rel="touch-sprite" data-selector="applidget">What We Do</a>
              <a href="#section-event-solutions" class="anchor-link stickers-sprite stickers-events" rel="touch-sprite" data-selector="events">Events</a>
            </div>
            
            <div class="span4">
              <a href="#section-footer" class="anchor-link stickers-sprite stickers-contact" rel="touch-sprite" data-selector="contact">Contact</a>
              <a href="#section-team" class="anchor-link stickers-sprite stickers-team" rel="touch-sprite" data-selector="team">Team</a>
            </div>
            
            <div class="span4">
              <a href="#section-technologies" class="anchor-link stickers-sprite stickers-technologies" rel="touch-sprite" data-selector="technologies">Technologies</a>
              <a href="#section-blogs" class="anchor-link stickers-sprite stickers-blogs" rel="touch-sprite" data-selector="blogs">Blogs</a>              
            </div>
          </div>
          
          <!-- <div class="row">
            <p class="span12">
              <a href="#" class="btn btn-huge btn-red">Get Instant Quote</a>
            </p>
          </div> -->
          
          <div class="row shadow-down">
            <div class="span12">
              {{ "shadow-down.png" | theme_image_tag }}
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron" id="section-why-choose">
        <div class="container">
          <div class="row">
            <div class="span4 center">
              {{ "air-liquide-screenshot.png" | theme_image_tag }}
            </div>
            <div class="span5">
              <h2>
              {% editable_short_text "why_choose_applidget_title", hint: "Why choose Applidget", priority: 97 %}
                <span class="light-orange">Why choose</span> <span class="bold-grey">Applidget?</span>
              {% endeditable_short_text %}
              </h2>
              <p>
              {% editable_long_text "why_choose_applidget_description", hint: "Why choose Applidget Description", priority: 96 %}
                Quibus ita sceleste patratis Paulus cruore perfusus reversusque ad principis castra multos coopertos paene catenis adduxit in squalorem deiectos atque maestitiam, quorum adventu intendebantur eculei uncosque parabat carnifex et tormenta. et ex is proscripti sunt plures actique in exilium alii, non nullos gladii consumpsere poenales.
                <br /><br />
                Nec enim quisquam facile meminit sub Constantio, ubi susurro tenus haec movebantur, quemquam absolutum.
              {% endeditable_long_text %}
              </p>
            </div>
            <div class="span3">
              <div class="white-glow-right">
                <span class="specialties">
                  {% editable_short_text "specialties_title", hint: "Our Specialties", priority: 94 %}
                    Our specialties:
                  {% endeditable_short_text %}
                </span>                
                {% editable_long_text "specialties_list", hint: "Specialties List", priority: 93 %}
                <ul>
                  <li>Ruby on Rails</li>
                  <li>HTML5</li>
                  <li>iOS</li>
                  <li>Android</li>
                </ul>
                {% endeditable_long_text %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="jumbotron" id="section-technologies">
        {% include 'technologies' %}
      </div>

      <div class="jumbotron" id="section-technologies-description">
        {% include 'technologies_description' %}
      </div>

      <div class="jumbotron" id="section-event-solutions">
        {% include 'event_solutions' %}
      </div>

      <div class="jumbotron" id="section-team">
        {% include 'team' %}
      </div>

      <div class="jumbotron" id="section-blogs">
        {% include 'blogs' %}
      </div>
      
    {% endblock %}

    <div class="jumbotron" id ="section-footer">
      {% include 'footer' %}
    </div>

    <!-- Le javascripts -->
    {{ 'jquery.min' | javascript_tag }}
    {{ 'jquery.anchor' | javascript_tag }}
    {{ 'bootstrap.min.js' | javascript_tag}}
    {{ 'application' | javascript_tag }}
  </body>
</html>
