<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.seo_title }}</title>

    <meta name="description" content="{{ site.meta_description }}">
    <meta name="author" content="Applidget">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{ 'bootstrap.min' | stylesheet_tag }}
    {{ 'bootstrap-responsive.min.custom' | stylesheet_tag }}
    {{ 'application' | stylesheet_tag }}

    {% inline_editor %}
  </head>
  <body>

    <div id="top"></div>
    
    {% block 'header' %}

      <div class="container">
        {% assign url = 'applidget-logo/red.png' %}
        {% include 'topmenu' %}
      </div>

    {% endblock %}

    {% block 'main' %}
      
      <div class="jumbotron" id="section-stickers">
        <div class="container">
          <div class="row">
            <div class="span12">
              <h1>
              {% editable_short_text "we_make_web_apps_title", hint: "We make web and mobile apps", priority: 100 %}
                We make web & mobile apps
              {% endeditable_short_text %}
              </h1>
            </div>
          </div>
          
          <div class="row">
            <div class="span4">
              <a href="#section-why-choose" class="anchor-link stickers-sprite stickers-applidget" rel="touch-sprite" data-selector="applidget">What We Do</a>
              <a href="#section-event-solutions" class="anchor-link stickers-sprite stickers-events" rel="touch-sprite" data-selector="events">Events</a>
            </div>
            
            <div class="span4">
              <a href="#section-footer" class="anchor-link stickers-sprite stickers-contact" rel="touch-sprite" data-selector="contact">Contact</a>
              <a href="#section-team" class="anchor-link stickers-sprite stickers-team" rel="touch-sprite" data-selector="team">Team</a>
            </div>
            
            <div class="span4">
              <a href="#section-technologies" class="anchor-link stickers-sprite stickers-technologies" rel="touch-sprite" data-selector="technologies">Technologies</a>
              <a href="#section-blogs" class="anchor-link stickers-sprite stickers-blogs" rel="touch-sprite" data-selector="blogs">Blogs</a>              
            </div>
          </div>
          
          <!-- <div class="row">
            <p class="span12">
              <a href="#" class="btn btn-huge btn-red">Get Instant Quote</a>
            </p>
          </div> -->
        </div>
      </div>

      <div class="jumbotron" id="section-why-choose">
        {% include 'what_we_do' %}
      </div>

      <div class="jumbotron" id="section-technologies">
        {% include 'technologies' %}
      </div>

      <div class="jumbotron" id="section-technologies-description">
        {% include 'technologies_description' %}
      </div>

      <div class="jumbotron" id="section-event-solutions">
        {% assign show_content = true %}
        {% include 'event_solutions' %}
      </div>

      <div class="jumbotron" id="section-team">
        {% include 'team' %}
      </div>

      <div class="jumbotron" id="section-blogs">
        {% include 'blogs' %}
      </div>
      
    {% endblock %}

    <div class="jumbotron" id ="section-footer">
      {% include 'footer' %}
    </div>

    <a href="#top" id ="top-scroll" class="anchor-link">
      {% editable_short_text "back_to_top_title", hint: "Back to Top", priority: 1 %}
        Back to top
      {% endeditable_short_text %}
    </a>

    <!-- Le javascripts -->
    {{ 'jquery.min' | javascript_tag }}
    {{ 'jquery.anchor' | javascript_tag }}
    
    {{ 'application' | javascript_tag }}
  </body>
</html>
