{% extends index %}

{% block 'header' %}

  <div class="header">
    <div class="jumbotron" id="section-why-choose">
      <div class="container">
        {% assign url = 'applidget-logo/blue.png' %}
        {% include 'topmenu' %}
      </div>

      <div class="container">
        {% include 'what_we_do' %}
      </div>
    </div>
  </div>

{% endblock %}

{% block 'main' %}

  <div class="container" id="main-why-choose">

    {% with_scope published: true %}

      {% for project in contents.projects %}

        <div class="row">
          <div class="span12">
            <div class="bloc-illustration {% cycle 'picture_style': 'picture-right', 'picture-left' %}">
              {{ project.picture.url | image_tag }}
            </div>

            <div class="bloc-header">
              <span class="bloc-icon">{{ project.icon.url | image_tag }}</span>
              <span class="bloc-title">{{ project.title }}</span><br />
              <span class="bloc-subtitle">{{ project.subtitle }}</span>
            </div>

            <div class="bloc-description">
              {{ project.body }}
            </div>
          </div>
        </div>

      {% endfor %}

    {% endwith_scope %}

  </div>

{% endblock %}